.button {
  color: #FCFDFE;
  background: #EC5863;
  padding: 14px 30px;
  font-family: 'Raleway';
  font-size: 10px;
  letter-spacing: 1.4px;
  display: inline-block;
  font-weight: 800;
  border-radius: 5px;
  transition: all 0.3s ease 0s;

  &:hover {
    background: #C24955;
  }
}

.button_blue {
  background-color: #4285F4;

  &:hover {
    background-color: #2E63C2;
  }
}