.get-started {
  background-color: #FAFBFD;
}

.get-started__container {
  padding: 153px 15px 48px 15px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  position: relative;

  &::before {
    transform: translate(100%);
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    right: 267px;
    top: 0;
    background-color: #EC5863;
    border-radius: 30px 0px 0px 30px;

    @media (max-width: 991.98px) {
      right: 185px;
    }

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  @media (max-width: 991.98px) {
    padding: 153px 15px 36px 15px;
  }

  @media (max-width: 767.98px) {
    padding: 70px 15px 24px 15px;
  }
}

.get-started__content {
  flex: 0 1 48%;
  padding: 0 20px;

  @media (max-width: 767.98px) {
    flex: 1 1 100%;
    padding: 0;
  }
}

.get-started__text-block {
  max-width: 410px;
}

.started__text-block {}

.get-started__image {
  position: relative;
  z-index: 100;
  flex: 0 1 52%;

  @media (max-width: 767.98px) {
    flex: 1 1 100%;
    text-align: center;
    padding: 30px 0;
  }
}

.get-started__image img {
  max-width: 100%;
}